<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand-style" href="#/">MentorMine</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" ng-model = "model.user">

            <ul class="nav navbar-nav pull-right">

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container-fluid">
    <h2> New Student Account - Register </h2>

    <form>
        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>

        <div class="form-group">
            <label for="sel1" >Industry:</label>
            <select class="form-control" id="sel1" ng-model="mentor.industry"name = "Industry">
                <option>Computer Science</option>
                <option>Engineering</option>
                <option>Management Studies</option>
                <option>Legal</option>
            </select>
            <div ng-show="form.$submitted || form.industry.$touched">
                <span ng-show="form.Industry.$error.required">Tell us your email.</span>
                <span ng-show="form.Industry.$error.email">This is not a valid email.</span>
            </div>
            <br>
            <label for="sel2" >University Name</label>
            <select class="form-control" id="sel2" ng-model="mentor.university">
                <option>Northeastern University</option>
                <option>NorthWestern University</option>
                <option>USC</option>
                <option>NYU</option>
            </select>
            <br>
            <label > First Name  </label>
            <input ng-model="user.firstname"
                   id="firstname" type ="text"
                   class="form-control"
                   name="firstname"
                   placeholder="First Name">
            <br>

            <label for="lastname"> Last Name  </label>
            <input ng-model="user.lastname"
                   id="lastname" type ="text"
                   class="form-control"
                   name="lastname"
                   placeholder="Last Name">
            <br>
            <label for="username"> Username  </label>
            <input ng-model="user.username"
                   id="username" type ="text"
                   class="form-control"
                   name="username"
                   placeholder="Username">
            <br>
            <label for="email"> Email  </label>
            <input ng-model="user.email"
                   id="email" type ="text"
                   class="form-control"
                   name="email"
                   placeholder="Email">
            <br>
            <label for="pwd"> Password  </label>
            <input ng-model="user.password"
                   id="pwd" type ="text" class="form-control" name="password"
                   placeholder="Password">
            <br>
            <label for="repassword"> Repeat Password </label>
            <input ng-model="user.repassword1"
                   id="repassword" type ="text" class="form-control" name="re-password"
                   placeholder="Repeat Password">
            <br>

            <div class="btn-block">
                <a ng-click="model.register(user)" class="btn btn-success btn-lg btn-block" role="button">Register</a>
            </div>
            <br>
            <div class="btn-block">
                <a href="#/" class="btn btn-danger btn-lg btn-block" role="button">Cancel</a>
            </div>
        </div>
    </form>
</div>
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <span class = "glyphicon glyphicon-user pull-right glyphicon-man"></span>
            </div>
        </div>
    </nav>
</footer>
