<div class="container-fluid">
    <h1>Login</h1>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>
    <label for="username">Username</label>
    <input ng-model="user.username"
           id="username"
           class="form-control"
           placeholder="john123" required>

    <label for="password">Password</label>
    <input ng-model="user.password"
           id="password"
           class="form-control"
           type="password"
           placeholder="req4321" required>
    <a class="btn btn-primary btn-block" ng-click="model.login(user)" >Login</a>
    <a href="#/register" class="btn btn-success btn-block">Register</a>
</div>