
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid" >
        <div class ="navbar-brand pull-right">
            <a href="#/profile">
                <span class ="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-text pull-left"id = "margin">
            <a href="#/login">
                <span class = "glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Profile
            </a>
        </div>
    </div>
</nav>


<div class="row container-fluid" id ="login-container">
    <label for="first">First Name</label>

    <input ng-model="pro.user.firstname"
           id="first"
           class="form-control"
           type="text"
           placeholder="First Name"/>

    <label for="last">Last Name</label>
    <input ng-model="model.user.lastname"
           id="last"
           class="form-control"
           type="text"
           placeholder="Last Name"/>

    <label for="email">Email</label>
    <input ng-model="model.user.email"
           id="email"
           class="form-control"
           type="email"
           placeholder="Email"/>

    <label>Username</label>
    <input ng-model="model.user.username" class="form-control" type="text" placeholder="Username"/>

    <label>Password</label>
    <input ng-model="model.user.password"class="form-control" type="password" placeholder="Password"/>

    <a class="btn btn-primary btn-block" href="#/website-list">
        Websites
    </a>

    <a class="btn btn-danger btn-block" href="#/login">
        Logout
    </a>
</div>