<div class = "container-fluid">
    <div class="row" id ="register-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="register-form">

                    <form class="form-horizontal">
                        <h3> New Account - Register </h3>


                            <label for="username"> First Name  </label>
                            <input ng-model="model.user.firstname"
                                   id="firstname" type ="text"
                                   class="form-control"
                                   name="firstname"
                                   placeholder="First Name">



                            <label for="username"> Last Name  </label>
                            <input ng-model="model.user.lastname"
                                   id="lastname" type ="text"
                                   class="form-control"
                                   name="lastname"
                                   placeholder="Last Name">



                            <label for="username"> Username  </label>
                            <input ng-model="model.user.username"
                                   id="username" type ="text"
                                   class="form-control"
                                   name="username"
                                   placeholder="Username">



                            <label for="email"> Email  </label>
                            <input ng-model="model.user.email"
                                   id="email" type ="text"
                                   class="form-control"
                                   name="email"
                                   placeholder="Email">


                            <label for="email"> Password  </label>
                            <input ng-model="model.user.password"
                                   id="pwd" type ="text" class="form-control" name="password"
                                   placeholder="Password">


                            <label for="repassword"> Repeat Password  </label>
                            <input ng-model="model.user.repassword"
                                   id="repassword" type ="text" class="form-control" name="re-password"
                                   placeholder="Repeat Password">

                        <div class="btn-block">
                            <a ng-click="model.register(user)" class="btn btn-success btn-lg btn-block" role="button">Register</a>
                        </div>

                        <div class="btn-block">
                            <a href="#/login" class="btn btn-danger btn-lg btn-block" role="button">Cancel</a>
                        </div>
                    </form>

            </section>
        </div>

    </div>

</div>
<footer class="footer">
    <div class="container-fluid">
        <a href="#/user/{{model.user._id}}">
            <span class = "glyphicon glyphicon-user pull-right"></span>
        </a>
    </div>
</footer>

