<div class = "container-fluid">
    <div class="row" id ="register-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="register-form">

                    <form class="form-horizontal">
                        <h3> New Account - Register </h3>
                        <div class="input-group">

                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" ></i> </span>
                            <input ng-model="reg.user.email"
                                   id="email" type ="text"
                                   class="form-control"
                                   name="email"
                                   placeholder="Email">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" ></i> </span>
                            <input ng-model="reg.user.password"
                                   id="pwd" type ="password" class="form-control" name="password"
                                   placeholder="Password">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" ></i> </span>
                            <input ng-model="reg.user.repassword"
                                   id="pwd2" type ="password" class="form-control" name="re-password"
                                   placeholder="Repeat Password">
                        </div>
                        <div class="btn-block">
                            <a ng-click="reg.register(user)" href="#/profile" class="btn btn-success btn-lg btn-block" role="button">Register</a>
                        </div>

                        <div class="btn-block">
                            <a href="#/login" class="btn btn-danger btn-lg btn-block" role="button">Cancel</a>
                        </div>
                    </form>

            </section>
        </div>

    </div>

</div>
<footer class="footer">
    <div class="container-fluid">

    </div>
</footer>

