

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left"id ="margin">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" >
                <span class = "glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="row container-fluid" >


            <a class = "btn btn-block btn-danger" role="button" ng-click="model.createWid('HEADING')">Header</a>



            <a class = "btn btn-block btn-danger" role="button" ng-click = "model.createWid('IMAGE')">
                Image</a>



            <a class = "btn btn-block btn-danger" role="button" ng-click="model.createWid('YOUTUBE')">
                Youtube</a>


</div>
<footer class="footer">
    <div class="container-fluid">
        <a href="../views/user/profile.view.client.html">
            <span class = "glyphicon glyphicon-user pull-right"></span>
        </a>
    </div>
</footer>
