
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left" id = "margin">
            <a href="page-list.view.client.html">
                <span class = "glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class =" navbar-brand hidden-xs pull-right">
            <a href="page-list.view.client.html">
                <span class ="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header hidden-xs">
            <a class="navbar-brand">
                New Page
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <label> Name </label>
    <input placeholder="Page Name"
           class="form-control"
           id ="website-name"/>

    <label>Title</label>
    <input placeholder="Title"
           class="form-control"
           id="title-page"></input>
    <a href="page-list.view.client.html" class="btn btn-block btn-danger" role="button">Create</a>

</div>
</div>


<footer class="footer">
    <div class="container-fluid">
        <a href="../views/user/profile.view.client.html">
            <span class = "glyphicon glyphicon-user pull-right"></span>
        </a>
    </div>
</footer>
