<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class ="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                <span class ="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-text pull-left" id ="margin">
            <a href="#/user/{{model.userId}}/website">
                <span class = "glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand">
                Pages
            </a>
        </div>
    </div>
</nav>

<div class="row container-fluid" id="list">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item" >
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget   ">
                {{page.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>

    </ul>
</div>
<footer class="footer">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}">
            <span class = "glyphicon glyphicon-user pull-right"></span>
        </a>
    </div>
</footer>

