
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">

        <div class =" navbar-text pull-right">
            <a href="page-list.view.client.html">
                <span class ="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-text pull-left" id = "margin">
            <a href="/user/{{model.userId}}/website">
                <span class = "glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand">
                Edit Page
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
        <label> Name </label>
        <input ng-model= "model.page.name"
               placeholder="Page Name"
               class="form-control"
               id ="website-name"/>

        <label>Title</label>
        <textarea ng-model="model.page.description"
                  placeholder="Title"
                  class="form-control"
                  id="title-page"></textarea>

        <a ng-click = "model.deletePage()" class="btn btn-block btn-danger" role="button">Delete</a>
    </div>
</div>


<footer class="footer">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}">
            <span class = "glyphicon glyphicon-user pull-right"></span>
        </a>
    </div>
</footer>
