<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">

            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
               class="glyphicon glyphicon-chevron-left pull-left navbar-brand"></a>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Widgets
                </a>
            </div>
            <a ng-click="model.updateWidget()" class="glyphicon glyphicon-ok pull-right navbar-brand"></a>
        

    </div>
</nav>


<div class="row container-fluid">

        <form>
            <div class="form-group">
                <label for="widget-name">Name</label>
                <input ng-model="model.widget.name"
                       value=""
                       class="form-control"
                       placeholder="Name"
                       id="widget-name"/>
            </div>
            <div class="form-group">
                <label for="widget-text">Text</label>
                <input  ng-model="model.widget.text"
                        value="Default Text"
                        class="form-control"
                        placeholder="Text"
                        id="widget-text">

                </input>
            </div>
            <div class="form-group">
                <label for="widget-size">Size</label>
                <input  ng-model="model.widget.size"
                        value="3"
                        class="form-control"
                        placeholder="size"
                        id="widget-size"/>
            </div>
            <div class="form-group">
                <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">
                    Delete
                </a>
            </div>
        </form>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">

        <a href="#/user/{{model.userId}}" class="navbar-link navbar-brand pull-right">
          <span class="glyphicon glyphicon-user">
          </span>
        </a>

    </div>
</nav>