<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">

        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
           class="glyphicon glyphicon-chevron-left pull-left navbar-brand"></a>
        <div class="navbar-header">
            <a class="navbar-brand">
                Widgets
            </a>
        </div>
        <a ng-click="model.updateWidget()" class="glyphicon glyphicon-ok pull-right navbar-brand"></a>
    </div>
</nav>

<div class="container-fluid">
    <div class="form-group">
        <div ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'quote'],
            ['bold','italics','underline','strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
            ['justifyLeft','justifyCenter','justifyRight','justifyFull'],
            ['indent','outdent'],['html', 'insertImage','insertLink', 'wordcount', 'charcount']]">
        </div>
    </div>
    <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">

        <a href="#/user/{{model.userId}}" class="navbar-link navbar-brand pull-right">
          <span class="glyphicon glyphicon-user">
          </span>
        </a>

    </div>
</nav>